body
{
	background-color:#242424;
	color:#F6F3E8;
}

h1
{
	color:#CAE682;
}

h2
{
	color:#E5786D;
}

h3
{
	color:#EEB2A0;
}

code
{
	background-color:#2e343F;
	color:#68838B;
}

a
{
	color:#8AC6F2;
	text-decoration: None
}

hr
{
	width: 750px;
	border-color: #333333;
}

.post
{
	background-color:#303030;
	width: 740px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -0.5em;
	margin-bottom: 1em;
	padding: 5px;
	color: #BFBFBF;
	text-indent:15px;
}

.post-title
{
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.0em;
	color: #DFDFDF;
	padding-top:-25px;
}

.foot
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #777777;
	width: 750px;
	background-color: #2D2D2D;
}
