body
{
	background-color:#242424;
	color:#F6F3E8;
}

h1
{
	color:#CAE682;
}

h2
{
	color:#E5786D;
}

h3
{
	color:#EEB2A0;
}

code
{
	background-color:#2e3436;
	color:#68838B;
}

hr
{
	border-color:#99968B;
}

a
{
	color:#8AC6F2;
}
