body
{
	background-image: url("images/background.png");
	color:#F6F3E8;
	padding-top: 24px;
}

h1
{
	color:#CAE682;
}

h2
{
	color:#E5786D;
}

h3
{
	color:#EEB2A0;
}

code
{
	background-color:#2e343F;
	color:#68838B;
}

a
{
	color:#8AC6F2;
	text-decoration: None
}

hr
{
	width: 750px;
	border-color: #333333;
}

simg
{
	margin-top: -0.8em;
	margin-bottom: 1em;
}

.content-holder {
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	background-color:#303030;
	color: #BFBFBF;
	text-indent:15px;
}

.main-menu > ul, .main-menu > ul > li > a {
	background-color:#505050;
	color: #BFBFBF;
}

.main-menu > ul > li > a:hover {
	background-color: #505050;
	color: #EFEFEF;
}

.content {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	color: #BFBFBF;
	text-indent:15px;
	font-size: 14px;
}

.content > p {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 10px;
	padding-right: 10px;
	background-color:#404040;
}

.image-box {
	min-width: 100%;
	padding-left: 0px;
	margin-right: 300px;
}

.image-box > img {
	margin-bottom: -14px;
	margin-right: -15px;
	min-width: 99.5%;
	max-width: 99.5%;
	height: auto;
	margin-left: -15px;
}

.post
{
	background-color:#303030;
	width: 740px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -0.5em;
	margin-bottom: 1em;
	padding: 5px;
	color: #BFBFBF;
	text-indent:15px;
}

.post-no-ident
{
	background-color:#303030;
	width: 740px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -0.5em;
	margin-bottom: 1em;
	padding: 5px;
	color: #BFBFBF;
}

.post-title
{
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.0em;
	color: #DFDFDF;
	padding-top:-25px;
}

.footer
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 5px;
	color: #555555;
}
